
#name,
#iam {
    background-color: grey;
}


p {
    font-size: 15px;
    color : black;
}


#name {
    font-weight: bold;
    text-align: center;
}

.centered {
    text-align: center;
}

* {
    color: black;
}
